<div id="title_bar"> 
  <h2 id="page_title">Autenticação</h2> 
  <div class="action_items"></div> 
</div> 
<div class="without_sidebar" id="content"> 
  <div id="main_content_wrapper"> 
    <div id="main_content"> 
      <div class="panel dashboard_section"> 
        <h3>Selecione a escola e digite sua senha</h3> 
        <div class="panel_contents"> 
          <% form_tag "/authenticate" do %>
            <p>Unidade<br />
            <%= select_tag "institution", options_for_select(@institutions), :size => 5 %></p>
            <p>Senha<br />
              <%= password_field_tag "password" %></p>
              <p><%= submit_tag 'entrar' %></p>
              <% end %>
            </div> 
          </div> 
        </div> 
      </div> 
    </div> 
