  body {
    background-color: #FFF;
    font-size: 14px;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }

  #line_items {
    page-break-before: always;
  }

  #border_text{
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    width: 300px;
  }

