<div id="title_bar"> 
  <h2 id="page_title">Relatórios</h2> 
  <div class="action_items"></div> 
</div> 
<div class="with_sidebar" id="content"> 
  <div id="main_content_wrapper"> 
    <div id="main_content"> 
      <div class="panel dashboard_section"> 
        <div class="panel_contents"> 
          Relatório(s) da escola:
          <% @school.service_levels.each do |sl| %>
            </br>
            <% school_name = IPF::Report.clean_name(@school.name, sl.id) %>
            <% if sl.id == 6 %>
              <% sl_name = "CONVENIADA" %>
            <% else %>
              <% sl_name = sl.name %>
            <% end %>
            <%= link_to sl.name, "reports/#{sl.name.downcase.gsub(' ', '_')}/#{school_name}_#{sl_name.upcase}.pdf" %>
          <% end %>
          <br>
          <br>
          Gabaritos da escola:
          <ul>
            <% @school.service_levels.each do |sl| %>
              <ul>
                <li> <%= sl.name %> </li>
                <ul>
                  <% sl.segments.each do |s| %>
                    <li> <%= link_to s.name, template_path(:school_id => @school.id, :segment_id => s.id) %> </li>
                  <% end %>
                </ul>
              </ul>
              </br>
            <% end %>
          </ul>

        </div> 
      </div> 
    </div> 
  </div> 
  
</div> 
<div id="footer"> 
</div> 


