<script>
  function getUrlVars()
  {
      var vars = [], hash;
      var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
      for(var i = 0; i < hashes.length; i++)
      {
          hash = hashes[i].split('=');
          vars.push(hash[0]);
          vars[hash[0]] = hash[1];
      }
      return vars;
  }

  function add_schools_in_select(schools, pattern){
    $.each(schools, function(index, value) { 
      if(value[1].indexOf(pattern) != -1){
        $('#q_school_id_eq').append($('<option></option>').val(value[0]).html(value[1]));
      }
    })
  }
  $(document).ready(function() {
    var scope = getUrlVars()["scope"];
    
    var schools = new Array();
    $('#q_school_id_eq')[0].options.length = 1;

    switch(scope){
      case undefined:
        schools = [
          [1  ,'CRECHE ALHA ELIAS ABIBE'],
          [2  ,'CRECHE ALZIRA SILVA MEDEIROS'],
          [3  ,'CRECHE AMELIA TOZZETO VIVIANE'],
          [4  ,'CRECHE BENEDITA DE OLIVEIRA'],
          [5  ,'CRECHE DAISY RIBEIRO NEVES'],
          [6  ,'CRECHE ELZA BATISTON'],
          [7  ,'CRECHE EZIO MELLI'],
          [8  ,'CRECHE GIUSEPPA BERSANI MICHELIN'],
          [9  ,'CRECHE HERMINIA LOPES'],
          [10 ,'CRECHE HILDA ALVES DOS SANTOS MARIM'],
          [11 ,'CRECHE IDA BELMONTE BISCUOLA'],
          [12 ,'CRECHE INES SANCHES MENDES'],
          [13 ,'CRECHE JOAO CORREA'],
          [14 ,'CRECHE JOAQUINA FRANCA GARCIA, PROFa'],
          [15 ,'CRECHE JOSE ESPINOSA'],
          [16 ,'CRECHE JOSE CARLOS DI MAMBRO, PE.'],
          [17 ,'CRECHE LIDIA THOMAZ'],
          [18 ,'CRECHE MARIA BENEDITA CONSTANCIO, IRMA'],
          [19 ,'CRECHE MARIA JOSE DA ANUNCIACAO'],
          [20 ,'CRECHE MERCEDES CORREA RUIZ BATISTA'],
          [21 ,'CRECHE OLGA CAMOLESI PAVAO'],
          [22 ,'CRECHE OLIMPIA MARIA DE JESUS CARVALHO'],
          [23 ,'CRECHE PEDRO PENOV'],
          [24 ,'CRECHE RECANTO ALEGRE '],
          [25 ,'CRECHE ROSA BROSEGHINI'],
          [26 ,'CRECHE ROSA PEREIRA CRE'],
          [27 ,'CRECHE SADAMITU OMOSAKO'],
          [28 ,'CRECHE SERAPHINA BISSOLATTI'],
          [29 ,'CRECHE SERGIO ZANARDI'],
          [30 ,'CRECHE SILVIA FERREIRA FARAH, PROFa'],
          [31 ,'CRECHE VILMA CATAN'],
          [117  ,'CRECHE LEONIL CRÊ BORTOLOSSO']
        ]
        add_schools_in_select(schools, 'CRECHE');
        break;
      case '':
        schools = [
          [1  ,'CRECHE ALHA ELIAS ABIBE'],
          [2  ,'CRECHE ALZIRA SILVA MEDEIROS'],
          [3  ,'CRECHE AMELIA TOZZETO VIVIANE'],
          [4  ,'CRECHE BENEDITA DE OLIVEIRA'],
          [5  ,'CRECHE DAISY RIBEIRO NEVES'],
          [6  ,'CRECHE ELZA BATISTON'],
          [7  ,'CRECHE EZIO MELLI'],
          [8  ,'CRECHE GIUSEPPA BERSANI MICHELIN'],
          [9  ,'CRECHE HERMINIA LOPES'],
          [10 ,'CRECHE HILDA ALVES DOS SANTOS MARIM'],
          [11 ,'CRECHE IDA BELMONTE BISCUOLA'],
          [12 ,'CRECHE INES SANCHES MENDES'],
          [13 ,'CRECHE JOAO CORREA'],
          [14 ,'CRECHE JOAQUINA FRANCA GARCIA, PROFa'],
          [15 ,'CRECHE JOSE ESPINOSA'],
          [16 ,'CRECHE JOSE CARLOS DI MAMBRO, PE.'],
          [17 ,'CRECHE LIDIA THOMAZ'],
          [18 ,'CRECHE MARIA BENEDITA CONSTANCIO, IRMA'],
          [19 ,'CRECHE MARIA JOSE DA ANUNCIACAO'],
          [20 ,'CRECHE MERCEDES CORREA RUIZ BATISTA'],
          [21 ,'CRECHE OLGA CAMOLESI PAVAO'],
          [22 ,'CRECHE OLIMPIA MARIA DE JESUS CARVALHO'],
          [23 ,'CRECHE PEDRO PENOV'],
          [24 ,'CRECHE RECANTO ALEGRE '],
          [25 ,'CRECHE ROSA BROSEGHINI'],
          [26 ,'CRECHE ROSA PEREIRA CRE'],
          [27 ,'CRECHE SADAMITU OMOSAKO'],
          [28 ,'CRECHE SERAPHINA BISSOLATTI'],
          [29 ,'CRECHE SERGIO ZANARDI'],
          [30 ,'CRECHE SILVIA FERREIRA FARAH, PROFa'],
          [31 ,'CRECHE VILMA CATAN'],
          [32 ,'EMEI ADELAIDE DIAS'],
          [33 ,'EMEI ADHEMAR PEREIRA DE BARROS, DR.'],
          [34 ,'EMEI ALICE MANHOLER PITERI'],
          [35 ,'EMEI ALIPIO PEREIRA DOS SANTOS, PROF.'],
          [36 ,'EMEI ANTONIO PAULINO RIBEIRO'],
          [37 ,'EMEI CRISTINE APARECIDA DE OLIVEIRA BRAGA'],
          [38 ,'EMEI DALVA MIRIAN PORTELLA MACHADO, PROFª.'],
          [39 ,'EMEI DÉSCIO MENDES PEREIRA, DR.'],
          [40 ,'EMEI ELIDE ALVES DÓRIA, PROFª'],
          [41 ,'EMEI EMIR MACEDO NOGUEIRA. PROF.'],
          [42 ,'EMEI ESMERALDA FERREIRA SIMÃO NOBREGA, PROFª.'],
          [43 ,'EMEI ESTEVÃO BRETT'],
          [44 ,'EMEI FERNANDO BUONADUCE, PROF.'],
          [45 ,'EMEI FORTUNATA PEREIRA DE JESUS SANTOS'],
          [46 ,'CEMEI GERTRUDES DE ROSSI'],
          [47 ,'EMEI HELENA COUTINHO'],
          [48 ,'EMEI IGNÊS COLLINO'],
          [49 ,'EMEI JAPHET FONTES '],
          [50 ,'EMEI JOSÉ FLÁVIO DE FREITAS, PROF.'],
          [51 ,'EMEI LUZIA MOMI SASSO'],
          [52 ,'EMEI MARIA ALVES DÓRIA, PROFª'],
          [53 ,'EMEI MARIA APARECIDA DE CAMARGO DAMY RODRIGUES, PROFª'],
          [54 ,'EMEI MARIA BERTONI FIORITA, PROFª'],
          [55 ,'EMEI MARIA MADALENA L. B. FREIXEDA'],
          [56 ,'EMEI NAIR BELLACOSA WARZEKA, PROFª'],
          [57 ,'EMEI OMAR OGEDA MARTINS'],
          [58 ,'EMEI OSVALDO GONÇALVES DE CARVALHO'],
          [59 ,'EMEI OSWALDO SALLES NEMER'],
          [60 ,'EMEI PEDRO MARTINO'],
          [61 ,'EMEI PROVIDÊNCIA DOS ANJOS CARREIRA'],
          [62 ,'EMEI SALVADOR SACCO'],
          [63 ,'EMEI SEVERINO DE ARAUJO FREIRE'],
          [64 ,'EMEI SÔNIA MARIA DE ALMEIDA FERNANDES, PROFª'],
          [65 ,'EMEI THEREZA BIANCHI COLLINO'],
          [66 ,'EMEI VIVALDO MARTINS SIMÕES, DR.'],
          [67 ,'EMEI YOLANDA BOTARO VICENTE'],
          [68 ,'EMEF ALFREDO FARHAT, DEPUTADO'],
          [69 ,'EMEF ALICE RABECHINI FERREIRA'],
          [70 ,'EMEF ALIPIO DA SILVA LAVOURA, PROF.'],
          [71 ,'EMEF ANEZIO CABRAL, PROF.'],
          [72 ,'EMEF ANTONIO DE SAMPAIO, GENERAL'],
          [73 ,'EMEF BENEDICTO WESCHENFELDER'],
          [74 ,'EMEF BENEDITO ALVES TURIBIO'],
          [75 ,'EMEF BITTENCOURT, MARECHAL'],
          [76 ,'EMEF CECILIA CORREA CASTELANI, PROFa'],
          [77 ,'EMEF DOMINGOS BLASCO, MAESTRO'],
          [78 ,'EMEF ELIDIO MANTOVANI, MONSENHOR'],
          [79 ,'EMEF ELZA DE CARVALHO MELLO BATTISTON, PROFa'],
          [80 ,'EMEF FRANCISCO CAVALCANTI PONTES DE MIRANDA'],
          [81 ,'EMEF FRANCISCO MANUEL LUMBRALES DE SA CARNEIRO, DR.'],
          [82 ,'EMEF GASPAR DA MADRE DE DEUS, FREI'],
          [83 ,'EMEF HUGO RIBEIRO DE ALMEIDA, DR.'],
          [84 ,'EMEF JOAO CAMPESTRINI, PROF.'],
          [85 ,'EMEIEF JOAO EUCLYDES PEREIRA, PROF.'],
          [86 ,'EMEF JOAO GUIMARAES ROSA'],
          [87 ,'EMEF JOAO LARIZZATTI, PROF.'],
          [88 ,'EMEF JOSE GROSSI DIAS, PADRE'],
          [89 ,'EMEF JOSE MANOEL AYRES, DR.'],
          [90 ,'EMEF JOSE MARTINIANO DE ALENCAR'],
          [91 ,'EMEF JOSE VERISSIMO DE MATOS'],
          [92 ,'EMEF JOSIAS BAPTISTA, PASTOR'],
          [93 ,'EMEF LAERTE JOSE DOS SANTOS, PROF.'],
          [94 ,'EMEF LUCIANO FELICIO BIONDO, PROF.'],
          [95 ,'EMEF LUIZ BORTOLOSSO'],
          [96 ,'EMEF MANOEL BARBOSA DE SOUZA, PROF.'],
          [97 ,'EMEF MANOEL TERTULIANO DE CERQUEIRA, PROF.'],
          [98 ,'EMEF MARINA SADDI HAIDAR'],
          [99 ,'EMEF MARINA VON PUTTKAMMER MELLI'],
          [100  ,'EMEF MAX ZENDRON, PROF.'],
          [101  ,'EMEF OLAVO ANTONIO BARBOSA SPINOLA , PROF'],
          [102  ,'EMEF OLINDA MOREIRA LEMES DA CUNHA, PROFa'],
          [103  ,'EMEF ONEIDE BORTOLOTE'],
          [104  ,'EMEF OSCAR PENNACINO,'],
          [105  ,'EMEF OSVALDO QUIRINO SIMOES'],
          [106  ,'EMEF QUINTINO BOCAIUVA'],
          [107  ,'EMEF RENATO FIUZA TELES, PROF.'],
          [108  ,'EMEF SAAD BECHARA'],
          [109  ,'EMEF TECLA MERLO, IRMA'],
          [110  ,'EMEF TEREZINHA MARTINS PEREIRA, PROFa'],
          [111  ,'EMEF TOBIAS BARRETO DE MENEZES'],
          [112  ,'EMEF VICTOR BRECHERET , ESCULTOR'],
          [113  ,'CEMEI ALBERTO SANTOS DUMONT'],
          [114  ,'CEMEI FORTUNATO ANTIÓRIO'],
          [115  ,'CEMEI JOÃO DE FARIAS'],
          [116  ,'CEMEI JOSÉ ERMÍRIO DE MORAES, SENADOR'],
          [117  ,'CRECHE LEONIL CRÊ BORTOLOSSO'],
          [118  ,'CEMEI LOURDES CÂNDIDA DE FARIA'],
          [119  ,'CEMEI MÁRIO QUINTANA'],
          [120  ,'CEMEI RUBENS BANDEIRA'],
          [121  ,'CEMEI VILMA FOLTRAN PORTELLA'],
          [122  ,'CEMEI ZAÍRA COLLINO ODÁLIA'],
          [123  ,"EMEIEF COLINAS D'OESTE"],
          [124  ,'EMEIEF ÉLIO APARECIDO DA SILVA'],
          [125  ,'EMEIEF ETIENE SALES CAMPELO, PROFª'],
          [126  ,'EMEIEF MESSIAS GONÇALVES DA SILVA'],
          [127  ,'EMEIEF VALTER DE OLIVEIRA FERREIRA, PROF.'],
          [128  ,'EMEIEF ZULEIKA GONÇALVES MENDES, PROFª'],
          [129  ,'CEU ZONA NORTE (ZILDA ARNS, Drª)'],
          [130  ,'CEMEIEF MARIA JOSÉ FERREIRA FERRAZ, PROFª.'],
          [131  ,'CEMEIEF MARIA TARCILLA FORNASARO MELLI'],
          [133  ,'CEMEI MÁRIO SEBASTIÃO ALVES DE LIMA'],
          [134  ,'DR. EDMUNDO CAMPANHA BURJATO'],
          [135  ,'CENTRO DE PARTICIPAçãO POPULAR DO JARDIM VELOSO'],
          [136  ,'ASSOCIAçãO UNIãO DE MãES DO JARDIM DAS FLORES'],
          [137  ,'ASSOCIAçãO FAçA UMA CRIANçA SORRIR DE OSASCO E REGIãO – NúCLEO I'],
          [138  ,'ASSOCIAçãO FAçA UMA CRIANçA SORRIR DE OSASCO E REGIãO – NúCLEO II ALFACRISO'],
          [139  ,'ASSOCIAçãO DAS MãES DO JARDIM VELOSO'],
          [140  ,'ASSOCIAçãO DAS MãES UNIDAS DO NOVO OSASCO – AMUNO I'],
          [141  ,'ASSOCIAçãO DAS MãES UNIDAS DO NOVO OSASCO – AMUNO II'],
          [142  ,'ASSOCIAçãO BENEFICENTE GOTAS DE AMOR'],
          [143  ,'ASSOCIAçãO QUINTAL MáGICO'],
          [144  ,'CENTRO SOCIAL SANTO ANTONIO'],
          [145  ,'ASSOCIAçãO PADRE DOMINGOS BARBé'],
          [146  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO AVENTURA DO APRENDER'],
          [147  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO BRILHO DO APRENDER'],
          [148  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO CASA DO APRENDER'],
          [149  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO CECíLIA MEIRELES'],
          [150  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO COMEçANDO APRENDER'],
          [151  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO MENINO JESUS'],
          [152  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO RECANTO DO APRENDER'],
          [153  ,'ASSOCIAçãO DAS MULHERES EM DEFESA à CRIANçA HELENA MARIA'],
          [154  ,'ASSOCIAçãO DAS MULHERES EM DEFESA à CRIANçA – TARCILA DO AMARAL'],
          [155  ,'ASSOCIAçãO DE PROTEçãO à MATERNIDADE E à ADOLESCêNCIA (ASPROMATINA) – PADRE DOMINGOS TONINI'],
          [156  ,'ASSOCIAçãO DE PROTEçãO à MATERNIDADE E à ADOLESCêNCIA (ASPROMATINA) – PADRE GUERRINO'],
          [157  ,'ASCC – ASSOCIAçãO SOLIDáRIA CRESCENDO CIDADã I - AçUCARá'],
          [158  ,'ASCC – ASSOCIAçãO SOLIDáRIA CRESCENDO CIDADã II – BELA VISTA'],
          [159  ,'ASSOCIAçãO DE EDUCAçãO POPULAR PIXOTE I'],
          [161  ,'LAR DA CRIANçA EMMANUEL NúCLEO KARDECISTA 21 DE ABRIL'],
          [162  ,'CEMEIEF DARCY RIBEIRO, PROF.']
        ]
        add_schools_in_select(schools, '');
        break;
      case 'emei':
        schools = [
          [32 ,'EMEI ADELAIDE DIAS'],
          [33 ,'EMEI ADHEMAR PEREIRA DE BARROS, DR.'],
          [34 ,'EMEI ALICE MANHOLER PITERI'],
          [35 ,'EMEI ALIPIO PEREIRA DOS SANTOS, PROF.'],
          [36 ,'EMEI ANTONIO PAULINO RIBEIRO'],
          [37 ,'EMEI CRISTINE APARECIDA DE OLIVEIRA BRAGA'],
          [38 ,'EMEI DALVA MIRIAN PORTELLA MACHADO, PROFª.'],
          [39 ,'EMEI DÉSCIO MENDES PEREIRA, DR.'],
          [40 ,'EMEI ELIDE ALVES DÓRIA, PROFª'],
          [41 ,'EMEI EMIR MACEDO NOGUEIRA. PROF.'],
          [42 ,'EMEI ESMERALDA FERREIRA SIMÃO NOBREGA, PROFª.'],
          [43 ,'EMEI ESTEVÃO BRETT'],
          [44 ,'EMEI FERNANDO BUONADUCE, PROF.'],
          [45 ,'EMEI FORTUNATA PEREIRA DE JESUS SANTOS'],
          [46 ,'CEMEI GERTRUDES DE ROSSI'],
          [47 ,'EMEI HELENA COUTINHO'],
          [48 ,'EMEI IGNÊS COLLINO'],
          [49 ,'EMEI JAPHET FONTES '],
          [50 ,'EMEI JOSÉ FLÁVIO DE FREITAS, PROF.'],
          [51 ,'EMEI LUZIA MOMI SASSO'],
          [52 ,'EMEI MARIA ALVES DÓRIA, PROFª'],
          [53 ,'EMEI MARIA APARECIDA DE CAMARGO DAMY RODRIGUES, PROFª'],
          [54 ,'EMEI MARIA BERTONI FIORITA, PROFª'],
          [55 ,'EMEI MARIA MADALENA L. B. FREIXEDA'],
          [56 ,'EMEI NAIR BELLACOSA WARZEKA, PROFª'],
          [57 ,'EMEI OMAR OGEDA MARTINS'],
          [58 ,'EMEI OSVALDO GONÇALVES DE CARVALHO'],
          [59 ,'EMEI OSWALDO SALLES NEMER'],
          [60 ,'EMEI PEDRO MARTINO'],
          [61 ,'EMEI PROVIDÊNCIA DOS ANJOS CARREIRA'],
          [62 ,'EMEI SALVADOR SACCO'],
          [63 ,'EMEI SEVERINO DE ARAUJO FREIRE'],
          [64 ,'EMEI SÔNIA MARIA DE ALMEIDA FERNANDES, PROFª'],
          [65 ,'EMEI THEREZA BIANCHI COLLINO'],
          [66 ,'EMEI VIVALDO MARTINS SIMÕES, DR.'],
          [67 ,'EMEI YOLANDA BOTARO VICENTE'],
          [85 ,'EMEIEF JOAO EUCLYDES PEREIRA, PROF.'],
          [113  ,'CEMEI ALBERTO SANTOS DUMONT'],
          [114  ,'CEMEI FORTUNATO ANTIÓRIO'],
          [115  ,'CEMEI JOÃO DE FARIAS'],
          [116  ,'CEMEI JOSÉ ERMÍRIO DE MORAES, SENADOR'],
          [118  ,'CEMEI LOURDES CÂNDIDA DE FARIA'],
          [119  ,'CEMEI MÁRIO QUINTANA'],
          [120  ,'CEMEI RUBENS BANDEIRA'],
          [121  ,'CEMEI VILMA FOLTRAN PORTELLA'],
          [122  ,'CEMEI ZAÍRA COLLINO ODÁLIA'],
          [123  ,"EMEIEF COLINAS D'OESTE"],
          [124  ,'EMEIEF ÉLIO APARECIDO DA SILVA'],
          [125  ,'EMEIEF ETIENE SALES CAMPELO, PROFª'],
          [126  ,'EMEIEF MESSIAS GONÇALVES DA SILVA'],
          [127  ,'EMEIEF VALTER DE OLIVEIRA FERREIRA, PROF.'],
          [128  ,'EMEIEF ZULEIKA GONÇALVES MENDES, PROFª'],
          [130  ,'CEMEIEF MARIA JOSÉ FERREIRA FERRAZ, PROFª.'],
          [131  ,'CEMEIEF MARIA TARCILLA FORNASARO MELLI'],
          [133  ,'CEMEI MÁRIO SEBASTIÃO ALVES DE LIMA'],
          [162  ,'CEMEIEF DARCY RIBEIRO, PROF.'],
        ]
        add_schools_in_select(schools, 'EMEI');
        break;
      case 'emef':
        schools = [
          [68 ,'EMEF ALFREDO FARHAT, DEPUTADO'],
          [69 ,'EMEF ALICE RABECHINI FERREIRA'],
          [70 ,'EMEF ALIPIO DA SILVA LAVOURA, PROF.'],
          [71 ,'EMEF ANEZIO CABRAL, PROF.'],
          [72 ,'EMEF ANTONIO DE SAMPAIO, GENERAL'],
          [73 ,'EMEF BENEDICTO WESCHENFELDER'],
          [74 ,'EMEF BENEDITO ALVES TURIBIO'],
          [75 ,'EMEF BITTENCOURT, MARECHAL'],
          [76 ,'EMEF CECILIA CORREA CASTELANI, PROFa'],
          [77 ,'EMEF DOMINGOS BLASCO, MAESTRO'],
          [78 ,'EMEF ELIDIO MANTOVANI, MONSENHOR'],
          [79 ,'EMEF ELZA DE CARVALHO MELLO BATTISTON, PROFa'],
          [80 ,'EMEF FRANCISCO CAVALCANTI PONTES DE MIRANDA'],
          [81 ,'EMEF FRANCISCO MANUEL LUMBRALES DE SA CARNEIRO, DR.'],
          [82 ,'EMEF GASPAR DA MADRE DE DEUS, FREI'],
          [83 ,'EMEF HUGO RIBEIRO DE ALMEIDA, DR.'],
          [84 ,'EMEF JOAO CAMPESTRINI, PROF.'],
          [86 ,'EMEF JOAO GUIMARAES ROSA'],
          [87 ,'EMEF JOAO LARIZZATTI, PROF.'],
          [88 ,'EMEF JOSE GROSSI DIAS, PADRE'],
          [89 ,'EMEF JOSE MANOEL AYRES, DR.'],
          [90 ,'EMEF JOSE MARTINIANO DE ALENCAR'],
          [91 ,'EMEF JOSE VERISSIMO DE MATOS'],
          [92 ,'EMEF JOSIAS BAPTISTA, PASTOR'],
          [93 ,'EMEF LAERTE JOSE DOS SANTOS, PROF.'],
          [94 ,'EMEF LUCIANO FELICIO BIONDO, PROF.'],
          [95 ,'EMEF LUIZ BORTOLOSSO'],
          [96 ,'EMEF MANOEL BARBOSA DE SOUZA, PROF.'],
          [97 ,'EMEF MANOEL TERTULIANO DE CERQUEIRA, PROF.'],
          [98 ,'EMEF MARINA SADDI HAIDAR'],
          [99 ,'EMEF MARINA VON PUTTKAMMER MELLI'],
          [100  ,'EMEF MAX ZENDRON, PROF.'],
          [101  ,'EMEF OLAVO ANTONIO BARBOSA SPINOLA , PROF'],
          [102  ,'EMEF OLINDA MOREIRA LEMES DA CUNHA, PROFa'],
          [103  ,'EMEF ONEIDE BORTOLOTE'],
          [104  ,'EMEF OSCAR PENNACINO,'],
          [105  ,'EMEF OSVALDO QUIRINO SIMOES'],
          [106  ,'EMEF QUINTINO BOCAIUVA'],
          [107  ,'EMEF RENATO FIUZA TELES, PROF.'],
          [108  ,'EMEF SAAD BECHARA'],
          [109  ,'EMEF TECLA MERLO, IRMA'],
          [110  ,'EMEF TEREZINHA MARTINS PEREIRA, PROFa'],
          [111  ,'EMEF TOBIAS BARRETO DE MENEZES'],
          [112  ,'EMEF VICTOR BRECHERET , ESCULTOR']
        ]
        add_schools_in_select(schools, 'EMEF ');
        break;
      case 'burjato':
        schools = [[134 ,'DR. EDMUNDO CAMPANHA BURJATO']]
        add_schools_in_select(schools, 'BURJATO');
        break;
      case 'creche_conveniada':
        schools = [
          [135  ,'CENTRO DE PARTICIPAçãO POPULAR DO JARDIM VELOSO'],
          [136  ,'ASSOCIAçãO UNIãO DE MãES DO JARDIM DAS FLORES'],
          [137  ,'ASSOCIAçãO FAçA UMA CRIANçA SORRIR DE OSASCO E REGIãO – NúCLEO I'],
          [138  ,'ASSOCIAçãO FAçA UMA CRIANçA SORRIR DE OSASCO E REGIãO – NúCLEO II ALFACRISO'],
          [139  ,'ASSOCIAçãO DAS MãES DO JARDIM VELOSO'],
          [140  ,'ASSOCIAçãO DAS MãES UNIDAS DO NOVO OSASCO – AMUNO I'],
          [141  ,'ASSOCIAçãO DAS MãES UNIDAS DO NOVO OSASCO – AMUNO II'],
          [142  ,'ASSOCIAçãO BENEFICENTE GOTAS DE AMOR'],
          [143  ,'ASSOCIAçãO QUINTAL MáGICO'],
          [144  ,'CENTRO SOCIAL SANTO ANTONIO'],
          [145  ,'ASSOCIAçãO PADRE DOMINGOS BARBé'],
          [146  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO AVENTURA DO APRENDER'],
          [147  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO BRILHO DO APRENDER'],
          [148  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO CASA DO APRENDER'],
          [149  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO CECíLIA MEIRELES'],
          [150  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO COMEçANDO APRENDER'],
          [151  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO MENINO JESUS'],
          [152  ,'ASSOCIAçãO DAS MULHERES PELA EDUCAçãO – NúCLEO RECANTO DO APRENDER'],
          [153  ,'ASSOCIAçãO DAS MULHERES EM DEFESA à CRIANçA HELENA MARIA'],
          [154  ,'ASSOCIAçãO DAS MULHERES EM DEFESA à CRIANçA – TARCILA DO AMARAL'],
          [155  ,'ASSOCIAçãO DE PROTEçãO à MATERNIDADE E à ADOLESCêNCIA (ASPROMATINA) – PADRE DOMINGOS TONINI'],
          [156  ,'ASSOCIAçãO DE PROTEçãO à MATERNIDADE E à ADOLESCêNCIA (ASPROMATINA) – PADRE GUERRINO'],
          [157  ,'ASCC – ASSOCIAçãO SOLIDáRIA CRESCENDO CIDADã I - AçUCARá'],
          [158  ,'ASCC – ASSOCIAçãO SOLIDáRIA CRESCENDO CIDADã II – BELA VISTA'],
          [159  ,'ASSOCIAçãO DE EDUCAçãO POPULAR PIXOTE I'],
          [161  ,'LAR DA CRIANçA EMMANUEL NúCLEO KARDECISTA 21 DE ABRIL']
        ]
      add_schools_in_select(schools, '');
      break;
    case 'eja':
      schools = [
        [68 ,'EMEF ALFREDO FARHAT, DEPUTADO'],
        [69 ,'EMEF ALICE RABECHINI FERREIRA'],
        [70 ,'EMEF ALIPIO DA SILVA LAVOURA, PROF.'],
        [71 ,'EMEF ANEZIO CABRAL, PROF.'],
        [72 ,'EMEF ANTONIO DE SAMPAIO, GENERAL'],
        [73 ,'EMEF BENEDICTO WESCHENFELDER'],
        [74 ,'EMEF BENEDITO ALVES TURIBIO'],
        [75 ,'EMEF BITTENCOURT, MARECHAL'],
        [78 ,'EMEF ELIDIO MANTOVANI, MONSENHOR'],
        [80 ,'EMEF FRANCISCO CAVALCANTI PONTES DE MIRANDA'],
        [82 ,'EMEF GASPAR DA MADRE DE DEUS, FREI'],
        [83 ,'EMEF HUGO RIBEIRO DE ALMEIDA, DR.'],
        [84 ,'EMEF JOAO CAMPESTRINI, PROF.'],
        [87 ,'EMEF JOAO LARIZZATTI, PROF.'],
        [90 ,'EMEF JOSE MARTINIANO DE ALENCAR'],
        [92 ,'EMEF JOSIAS BAPTISTA, PASTOR'],
        [95 ,'EMEF LUIZ BORTOLOSSO'],
        [96 ,'EMEF MANOEL BARBOSA DE SOUZA, PROF.'],
        [97 ,'EMEF MANOEL TERTULIANO DE CERQUEIRA, PROF.'],
        [98 ,'EMEF MARINA SADDI HAIDAR'],
        [99 ,'EMEF MARINA VON PUTTKAMMER MELLI'],
        [102  ,'EMEF OLINDA MOREIRA LEMES DA CUNHA, PROFa'],
        [103  ,'EMEF ONEIDE BORTOLOTE'],
        [104  ,'EMEF OSCAR PENNACINO,'],
        [105  ,'EMEF OSVALDO QUIRINO SIMOES'],
        [106  ,'EMEF QUINTINO BOCAIUVA'],
        [107  ,'EMEF RENATO FIUZA TELES, PROF.'],
        [108  ,'EMEF SAAD BECHARA'],
        [109  ,'EMEF TECLA MERLO, IRMA'],
        [110  ,'EMEF TEREZINHA MARTINS PEREIRA, PROFa'],
        [111  ,'EMEF TOBIAS BARRETO DE MENEZES'],
        [112  ,'EMEF VICTOR BRECHERET , ESCULTOR'],
        [121  ,'CEMEI VILMA FOLTRAN PORTELLA'],
        [123  ,"EMEIEF COLINAS D'OESTE"],
        [124  ,'EMEIEF ÉLIO APARECIDO DA SILVA'],
        [125  ,'EMEIEF ETIENE SALES CAMPELO, PROFª'],
        [126  ,'EMEIEF MESSIAS GONÇALVES DA SILVA'],
        [127  ,'EMEIEF VALTER DE OLIVEIRA FERREIRA, PROF.'],
        [128  ,'EMEIEF ZULEIKA GONÇALVES MENDES, PROFª'],
        [129  ,'CEU ZONA NORTE (ZILDA ARNS, Drª)']
      ]
      add_schools_in_select(schools, '');
      break;
    }
    
    


  });
</script>